*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Lobster', cursive; */
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* padding: 20px; */
    margin: 40px  0  ;
}
.card{
    /* background-color: burlywood; */
    /* margin-top: 1\0px; */
    border-radius: 5px;
    width: 395px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: radial-gradient(circle at 50% 0%,orange 36%, #fff 36%);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.call {
    padding: 10px 15px;
    background-color: #fff;
    position: relative;
    top: 10px;
    border-radius: 10px;
}
.call span{
    font-weight: 600;
    color:#55efc4;
}
.card h1{
    padding: 9px 0;
}
.typr{
    display: flex;
}
.typr p{
    padding:  0 10px;
    text-transform: capitalize;
    background-color: #55efc4;
    padding: 10px 15px;
    color: #eee;
    font-weight: 600;
    border-radius: 5px;
    margin-left: 10px ;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:  20px 0;
}
.res{
    padding: 0 10px;
    text-align: center;
}
.btn{
    position: relative;
    top: 20px;
    left: 30%;
    cursor: pointer;
    background-color: #55efc4;
    border: none;
    color: #eee;
    padding: 15px 30px;
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: 2px;
}